/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-image: url(./assets/images/bg.webp)!important;
  background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
  body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-image: url(./assets/images/bg.webp)!important;
  background-attachment: fixed;
}
}
@media (max-width: 768px) {
html, body {
width: auto !important;
overflow-x: hidden !important;
}
}
